<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Préstamos</title>
</head>
<body>

    <h1>Lista de préstamos</h1>

    <form method="get">
        <input
            type="text"
            name="q"
            value="{{ q }}"
            placeholder="Buscar solicitante">

        <button type="submit">
            Buscar
        </button>
    </form>

    <hr>

    <table border="1">
        <thead>
            <tr>
                <th>Herramienta</th>
                <th>Solicitante</th>
                <th>Fecha</th>
                <th>Días</th>
            </tr>
        </thead>

        <tbody>
            {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.herramienta.nombre }}</td>
                <td>{{ prestamo.solicitante }}</td>
                <td>{{ prestamo.fecha_prestamo }}</td>
                <td>{{ prestamo.dias }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">
                    No hay resultados
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
